a:visited, a:active, a:link {
    color: #1c1c1c;
}


.beautiful_a_tag{
    text-decoration: none;
    font-size: 20px;
}

body {
    color: aliceblue;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/893/497/large_2x/fire-flames-on-black-background-free-photo.jpg);
    background-size:contain;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    display: table-cell;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    margin: 8px;
}


.center {
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.red_its_font_color{
    color: #1c1c1c;
}


.red_text {
    color: #ed2b3e;
    font: bold 20px arial, verdana;
}

.sized_images {
    height: 125px;
    width: 125px;
    border: groove;
    border-color: black;
}


.menu_bar {
    background-color: #a3a3a3;
    height: 40px;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding-top: 20px;
}

.title_font {
    font-size: 50px;
}


